.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.956000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.930000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-1.140000px;}
._1{width:32.999997px;}
.fc3{color:rgb(21,96,130);}
.fc2{color:rgb(31,111,41);}
.fc1{color:rgb(27,100,134);}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:68.000000px;}
.fs3{font-size:72.000000px;}
.fs9{font-size:96.000000px;}
.fs5{font-size:112.000000px;}
.fs6{font-size:128.000000px;}
.fs2{font-size:160.000000px;}
.fs4{font-size:176.000000px;}
.fs1{font-size:216.000000px;}
.fs7{font-size:240.000000px;}
.fs8{font-size:384.000000px;}
.y0{bottom:0.000000px;}
.y13{bottom:26.679657px;}
.y12{bottom:60.279657px;}
.y1a{bottom:86.089554px;}
.yc{bottom:102.737581px;}
.yb{bottom:102.835756px;}
.y8{bottom:116.262794px;}
.y1c{bottom:139.519409px;}
.y19{bottom:150.889587px;}
.y23{bottom:171.281616px;}
.y6{bottom:195.299507px;}
.y22{bottom:211.521622px;}
.y18{bottom:215.689606px;}
.y21{bottom:251.761627px;}
.y1b{bottom:254.719421px;}
.y3{bottom:258.427433px;}
.y7{bottom:274.237526px;}
.y2{bottom:276.787430px;}
.y17{bottom:280.489594px;}
.y20{bottom:292.001633px;}
.y1{bottom:295.147427px;}
.y1f{bottom:332.241638px;}
.y5{bottom:345.195961px;}
.y16{bottom:345.289581px;}
.ye{bottom:350.645012px;}
.y1e{bottom:371.660206px;}
.y15{bottom:410.089581px;}
.y10{bottom:418.962612px;}
.yd{bottom:439.617687px;}
.y1d{bottom:444.840256px;}
.y4{bottom:455.732494px;}
.y11{bottom:458.399265px;}
.y9{bottom:460.118919px;}
.yf{bottom:466.482609px;}
.ya{bottom:477.846161px;}
.y14{bottom:498.650457px;}
.h1{height:50.048000px;}
.h5{height:51.120000px;}
.hb{height:68.160000px;}
.h7{height:82.432000px;}
.h8{height:90.880000px;}
.h4{height:113.600000px;}
.h3{height:117.760000px;}
.h6{height:129.536000px;}
.h2{height:153.360000px;}
.h9{height:176.640000px;}
.ha{height:282.624000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x7{left:19.402985px;}
.xc{left:52.728271px;}
.xf{left:72.146240px;}
.x11{left:73.198822px;}
.x5{left:95.398895px;}
.xa{left:97.443817px;}
.x4{left:104.209839px;}
.xb{left:161.507233px;}
.x12{left:181.198822px;}
.xd{left:195.786957px;}
.x8{left:198.805969px;}
.x6{left:217.850739px;}
.x10{left:219.657074px;}
.xe{left:370.724457px;}
.x9{left:561.396919px;}
.x1{left:647.056419px;}
.x2{left:664.368919px;}
.x3{left:669.931419px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-1.520000pt;}
._1{width:43.999996pt;}
.fs0{font-size:90.666667pt;}
.fs3{font-size:96.000000pt;}
.fs9{font-size:128.000000pt;}
.fs5{font-size:149.333333pt;}
.fs6{font-size:170.666667pt;}
.fs2{font-size:213.333333pt;}
.fs4{font-size:234.666667pt;}
.fs1{font-size:288.000000pt;}
.fs7{font-size:320.000000pt;}
.fs8{font-size:512.000000pt;}
.y0{bottom:0.000000pt;}
.y13{bottom:35.572876pt;}
.y12{bottom:80.372876pt;}
.y1a{bottom:114.786072pt;}
.yc{bottom:136.983442pt;}
.yb{bottom:137.114342pt;}
.y8{bottom:155.017059pt;}
.y1c{bottom:186.025879pt;}
.y19{bottom:201.186117pt;}
.y23{bottom:228.375488pt;}
.y6{bottom:260.399343pt;}
.y22{bottom:282.028829pt;}
.y18{bottom:287.586141pt;}
.y21{bottom:335.682170pt;}
.y1b{bottom:339.625895pt;}
.y3{bottom:344.569911pt;}
.y7{bottom:365.650035pt;}
.y2{bottom:369.049906pt;}
.y17{bottom:373.986125pt;}
.y20{bottom:389.335510pt;}
.y1{bottom:393.529902pt;}
.y1f{bottom:442.988851pt;}
.y5{bottom:460.261281pt;}
.y16{bottom:460.386108pt;}
.ye{bottom:467.526683pt;}
.y1e{bottom:495.546941pt;}
.y15{bottom:546.786107pt;}
.y10{bottom:558.616816pt;}
.yd{bottom:586.156916pt;}
.y1d{bottom:593.120341pt;}
.y4{bottom:607.643326pt;}
.y11{bottom:611.199020pt;}
.y9{bottom:613.491892pt;}
.yf{bottom:621.976812pt;}
.ya{bottom:637.128215pt;}
.y14{bottom:664.867277pt;}
.h1{height:66.730667pt;}
.h5{height:68.160000pt;}
.hb{height:90.880000pt;}
.h7{height:109.909333pt;}
.h8{height:121.173333pt;}
.h4{height:151.466667pt;}
.h3{height:157.013333pt;}
.h6{height:172.714667pt;}
.h2{height:204.480000pt;}
.h9{height:235.520000pt;}
.ha{height:376.832000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x7{left:25.870646pt;}
.xc{left:70.304362pt;}
.xf{left:96.194987pt;}
.x11{left:97.598429pt;}
.x5{left:127.198527pt;}
.xa{left:129.925090pt;}
.x4{left:138.946452pt;}
.xb{left:215.342977pt;}
.x12{left:241.598429pt;}
.xd{left:261.049276pt;}
.x8{left:265.074626pt;}
.x6{left:290.467651pt;}
.x10{left:292.876099pt;}
.xe{left:494.299276pt;}
.x9{left:748.529226pt;}
.x1{left:862.741892pt;}
.x2{left:885.825226pt;}
.x3{left:893.241892pt;}
}
